/admin.xml
/adminnotification.xml
/api2.xml
/authorizenet.xml
/bundle.xml
/captcha.xml
/catalog.xml
/centinel.xml
/cms.xml
/compiler.xml
/connect.xml
/currencysymbol.xml
/customer.xml
/dataflow.xml
/downloadable.xml
/giftmessage.xml
/importexport.xml
/index.xml
/main.xml
/moneybookers.xml
/newsletter.xml
/oauth.xml
/pagecache.xml
/promo.xml
/report.xml
/rss.xml
/sales.xml
/search.xml
/tag.xml
/widget.xml
/xmlconnect.xml
