/app/code/community/
/app/code/core
/includes
/js
/lib
/media
/pkginfo
/shell
/skin
/var
/downloader
/errors
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
