<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Litle_LEcheck>
			<version>8.15.0</version>
		</Litle_LEcheck>
	</modules>
	<global>
		<blocks>
			<lecheck>
				<class>Litle_LEcheck_Block</class>
			</lecheck>
		</blocks>
		<helpers>
	    	<lecheck>
				<class>Litle_LEcheck_Helper</class>
			</lecheck>
		</helpers>
		<models>
			<lecheck>
				<class>Litle_LEcheck_Model</class>
			</lecheck>
		</models>
		<resources>
			<lecheck_setup>
				<setup>
					<module>Litle_LEcheck</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</lecheck_setup>
			<lecheck_write>
				<connection>
					<use>core_write</use>
				</connection>
			</lecheck_write>
			<lecheck_read>
				<connection>
					<use>core_read</use>
				</connection>
			</lecheck_read>
		</resources>
	</global>
	<default>
		<payment>
			<lecheck>
				<active>1</active>
				<timeout>65</timeout>
				<url>https://www.testlitle.com/sandbox/communicator/online</url>
				<model>lecheck/paymentLogic</model>
				<order_status>1</order_status>
				<payment_action>authorize</payment_action>
				<test>1</test>
				<title>Litle Echeck</title>
				<allowspecific>0</allowspecific>
			</lecheck>
		</payment>
	</default>
</config>