<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Litle_LitleEcheck>
			<version>0.1.0</version>
		</Litle_LitleEcheck>
	</modules>
	<global>
		<blocks>
			<litleecheck>
				<class>Litle_LitleEcheck_Block</class>
			</litleecheck>
		</blocks>
		<helpers>
	    	<echeck>
				<class>Litle_LitleEcheck_Helper</class>
			</echeck>
		</helpers>
		<models>
			<litleecheck>
				<class>Litle_LitleEcheck_Model</class>
			</litleecheck>
		</models>
		<resources>
			<litleecheck_setup>
				<setup>
					<module>Litle_LitleEcheck</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</litleecheck_setup>
			<litleecheck_write>
				<connection>
					<use>core_write</use>
				</connection>
			</litleecheck_write>
			<litleecheck_read>
				<connection>
					<use>core_read</use>
				</connection>
			</litleecheck_read>
		</resources>
	</global>
	<default>
		<payment>
			<litleecheck>
				<active>1</active>
				<timeout>65</timeout>
				<debug>0</debug>
				<email_customer>0</email_customer>
				<cctypes>AE,VI,MC,DI</cctypes>
				<model>litleecheck/paymentLogic</model>
				<order_status>1</order_status>
				<payment_action>authorize</payment_action>
				<test>1</test>
				<title>Litle Echeck</title>
				<allowspecific>0</allowspecific>
			</litleecheck>
		</payment>
	</default>
</config>