<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Litle_LPaypal>
            <version>8.15.6</version>
        </Litle_LPaypal>
    </modules>
    <global>
        <helpers>
            <lpaypal>
                <class>Litle_LPaypal_Helper</class>
            </lpaypal>
            <payment>
                <rewrite>
                    <data>Litle_LPaypal_Helper_Data</data>
                </rewrite>
            </payment>
        </helpers>
        <models>
            <lpaypal>
                <class>Litle_LPaypal_Model</class>
            </lpaypal>
            <paypal>
                <rewrite>
                    <express>Litle_LPaypal_Model_Paypal_Express</express>
                </rewrite>
            </paypal>
        </models>
        <resources>
            <lpaypal_setup>
                <setup>
                    <module>Litle_LPaypal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lpaypal_setup>
            <lpaypal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lpaypal_write>
            <lpaypal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lpaypal_read>
        </resources>
        <blocks>
            <payment>
                <rewrite>
                    <info>Litle_LPaypal_Block_Payment_Info</info>
                </rewrite>
            </payment>
        </blocks>
    </global>
    <default>
        <payment>
            <lpaypal>
                <active>1</active>
                <timeout>65</timeout>
                <model>lpaypal/paymentLogic</model>
                <order_status>pending</order_status>
                <title>Paypal (Litle Payment)</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </lpaypal>
        </payment>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <litle_lpaypal before="Mage_Adminhtml">Litle_LPaypal_Adminhtml</litle_lpaypal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
