/api
/api2
/authorizenet
/backup
/bundle
/captcha
/catalog
/centinel
/cms
/compiler
/connect
/currencysymbol
/customer
/dashboard
/directory
/downloadable
/eav
/email
/giftmessage
/googlebase
/importexport
/index
/media
/moneybookers
/newsletter
/notification
/oauth
/page
/pagecache
/paygate
/payment
/paypal
/permissions
/poll
/promo
/rating
/report
/review
/sales
/store
/system
/tag
/tax
/urlrewrite
/usa
/weee
/widget
/xmlconnect
/access_denied.phtml
/coming.phtml
/empty.phtml
/example.phtml
/forgotpassword.phtml
/formkey.phtml
/login.phtml
/overlay_popup.phtml
/page.phtml
/popup.phtml
/resetforgottenpassword.phtml
