<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Litle_CreditCard>
			<version>8.15.0</version>
		</Litle_CreditCard>
	</modules>
	<global>
		<payment>
			<cc>
				<types>
					<DC>
						<code>DC</code>
						<name>Diners Club</name>
						<order>1</order>
					</DC>
				</types>
			</cc>
		</payment>
		<blocks>
			<creditcard>
				<class>Litle_CreditCard_Block</class>
			</creditcard>
			<adminhtml>
				<rewrite>
					<sales_order_view>Litle_CreditCard_Block_Adminhtml_Orderview</sales_order_view>
				</rewrite>
				<rewrite>
					<sales_order_grid>Litle_CreditCard_Block_Adminhtml_Ordergrid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<creditcard>
				<class>Litle_CreditCard_Model</class>
			</creditcard>
			<sales>
				<rewrite>
					<order_payment>Litle_CreditCard_Model_Order_Payment</order_payment>
				</rewrite>
			</sales>
		</models>
		<resources>
			<creditcard_setup>
				<setup>
					<module>Litle_CreditCard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</creditcard_setup>
			<creditcard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</creditcard_write>
			<creditcard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</creditcard_read>
		</resources>
		<helpers>
			<creditcard>
				<class>Litle_CreditCard_Helper</class>
			</creditcard>
		</helpers>
	</global>
	<admin>
		<routers>
			<creditcard>
				<use>admin</use>
				<args>
					<module>Litle_CreditCard</module>
					<frontName>creditcard</frontName>
				</args>
			</creditcard>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<creditcard>
					<file>litlecreditcard.xml</file>
				</creditcard>
			</updates>
		</layout>
	</frontend>
	<default>
		<payment>
			<creditcard>
				<active>1</active>
				<timeout>65</timeout>
				<url>https://www.testlitle.com/sandbox/communicator/online</url>
				<model>creditcard/paymentLogic</model>
				<order_status>pending</order_status>
				<title>Credit Card (Litle Payment)</title>
				<cctypes>AE,VI,MC,DI</cctypes>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
				<paypage_enabled>1</paypage_enabled>
			</creditcard>
		</payment>
	</default>
</config>
