<?xml version="1.0"?>
<config>
	<modules>
		<Litle_Editable>
			<version>0.2.2</version>
		</Litle_Editable>
	</modules>
	<admin>
		<routers>
			<editable>
				<use>admin</use>
				<args>
					<module>Litle_Editable</module>
					<frontName>editable</frontName>
				</args>
			</editable>
		</routers>
	</admin>
	<global>
		<models>
			<editable>
				<class>Litle_Editable_Model</class>
				<resourceModel>editable_mysql4</resourceModel>
			</editable>
			<editable_mysql4>
				<class>Litle_Editable_Model_Mysql4</class>
				<entities>
					<account>
						<table>editable_account</table>
					</account>
				</entities>
			</editable_mysql4>
		</models>

		<blocks>
			<editable>
				<class>Litle_Editable_Block</class>
			</editable>
			<adminhtml>
				<rewrite>
					<sales_transactions_detail>Litle_Editable_Block_Adminhtml_Transaction</sales_transactions_detail>
				</rewrite>
			</adminhtml>
		</blocks>
		<!-- turn on database connections -->
		<resources>
			<!-- setup is needed for automatic installation -->
			<resources>
				<editable_setup>
					<setup>
						<module>Litle_Editable</module>
						<class>Mage_Core_Model_Resource_Setup</class>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</editable_setup>
				<editable_write>
					<connection>
						<use>core_write</use>
					</connection>
				</editable_write>
				<editable_read>
					<connection>
						<use>core_read</use>
					</connection>
				</editable_read>
			</resources>
		</resources>

		<helpers>
			<editable>
				<class>Litle_Editable_Helper</class>
			</editable>
		</helpers>

		<customer>
			<address>
				<formats>
					<editable translate="title" module="editable">
						<title>Editable</title>
						<htmlEscape>true</htmlEscape>
						<defaultFormat></defaultFormat>
					</editable>
				</formats>
			</address>
		</customer>


	</global>
	<adminhtml>
		<layout>
			<updates>
				<customtabs>
					<file>litle.xml</file>
				</customtabs>
			</updates>
		</layout>
	</adminhtml>


</config>